.box-up-col #content{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    color: #1A1A1A;
    padding: 10px;
}

.box-up-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-up-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


fieldset {
    padding: 15px 20px;
    /*height: 500px;*/
    width: 900px;
    background-color: #170055;
    border-radius: 0px;
    border: black;
}
button {
    margin: 5px 0px;
}

label{
    color: white;
    justify-content:center;
}

section{
    background-color:#E6E6E6;
}