/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header Styles */
header {
    height: 100px;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header > img {
    height: 120px;
    width: 150px;
    margin: 0px auto 0px 20px;
    
}

ul {
    list-style-type: none;
    margin-right: 20px;
}

li {
    padding: 5px 10px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}
nav a:hover {
    color: #FFA400;
}
/* nav a:visited {
    color: #FFFFFF;
} */

div input{
    width: 350px;
    height: 40px;
}
div form{
    padding-left: 10px; 
	padding-right: 20px; 
	padding-top: 30px; 
	padding-bottom: 10px; 
}


/* Main Styles */
main {
    min-height: calc(100vh - 150px);
    /*background-color: #808080;*/
}


h4 {
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.algo-links {
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 10px;
    background-color: #ffffff;
    color:black;
    border-radius: 15px;
    width: 200px;
}

.algo-links:disabled {
  pointer-events: none;
}

.algo-links:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.algo-links:active {
  box-shadow: none;
  transform: translateY(0);
}


section.box-up-col {
    background-color: #A2DBFA;
    padding: 100px;
}

#queue {
    min-height: 200px;
    background-color: rgb(214, 214, 214);

}

.left {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    height: 100%;
    border-right: solid 3px black;
}

.right {
    width: 70%;
}

.process {
    height: 50px;
    min-width: 50px;
    max-width: 100px;
    margin: 10px 5px;
    
    color: #000000;
    text-align: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgb(85, 58, 206, 0.4) -5px 5px, rgb(85, 58, 206, 0.377) -10px 10px, rgb(85, 58, 206, 0.2) -15px 15px, rgb(85, 58, 206, 0.1) -20px 20px, rgb(85, 58, 206, 0.05) -25px 25px; */
}

div .process{
    height: 50px;
    min-width: 50px;
    max-width: 100px;
    margin: 10px 5px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1s;
  }
  
  @keyframes example {
    0%   {
         left:0px; top:0px;}
         25%  {background-color:yellow; left:50px; top:0px;}
  100% {background-color:rgb(255, 255, 255); left:0px; top:0px;}
}
  




fieldset {
    padding: 15px 20px;
    /* height: 250px; */
    width: 900px;
    background-color:#170055;
    border-radius: 0px;
    border: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input {
    font: inherit;
    padding: 0.2em 0.5em;
  }

details{
    background-color: rgb(214, 214, 214);
}


/* button {
    margin: 5px 0px;
} */


/* CSS */
.button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: 20px;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Other Styles */
.box-up-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-up-col #content{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    font-size: xx-large;
    color: #1A1A1A;
    padding: 10px;
}

.box-up-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

hr {
    border: solid 2px #000;
    width: 100%;
    margin: 10px 0px;
}

summary{
    font-size: large;
}

p{
    font-size: large;
}

/* Footer Styles */
footer {
    height: 50px;
    background-color: rgb(214, 214, 214);
    background-color: #A2DBFA;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
}

